# Ignore everything outside this directory
../../../*

# Ignore large model files
*.safetensors
*.faiss

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/deprecated_scripts
/notes



# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
training.log

# Checkpoints
checkpoints/
enhanced_yanomami_translator/
logs/
visualization_results/*
yanomami_translator_model/
path/

# Large data files
RAG/
test_checkpoints/